<!DOCTYPE html>
<html>
<head>
  <% include partials/template/head.ejs %>

</head>

<body>
<% include partials/template/header.ejs %>

	<h1><%= title %></h1>
	
<section class="layout">

	<div class="primary">
	
	<% include partials/content/listaLibri.ejs %>

	</div>
	<aside class="secondary">
		<% include partials/content/prossimiEsercizi.ejs %>
		<% include partials/content/listaEsercizi.ejs %>
	</aside>


</section>




	 <% include partials/template/default.ejs %>
	<% include partials/template/footer.ejs %>
</body>

</html>