<header>
	<div class="hero">
		<section class="layout">
			<div class="branding">
				<img src="/images/logo.jpg" alt="logo" />
			</div>

		</section>
	</div>


	<div class="navigation">
		<section class="layout">
			<ul class="nav">
				<li><a href="/"><i class="fa fa-steam-square"></i>Home</a></li>
				<li><a href="/speakers"><i class="fa fa-spinner"></i> Schema</a></li>
			</ul> <!--nav-->
		</section><!--layout-->


	</div> <!--navigation-->
</header>