<!DOCTYPE html>
<html>
<head>
  <% include partials/template/head.ejs %>

</head>

<body>
<% include partials/template/header.ejs %>
	<h1><%= title %></h1>
	
<section class="layout">

	<div class="primary">
	<div>Lorem Ipsum dolot sit amet.</div>

	</div>
	<aside class="secondary">
		<div>Lorem Ipsum dolot sit amet.</div>
	</aside>


</section>




	 <% include partials/template/default.ejs %>

<% include partials/template/footer.ejs %>
</body>

</html>