<article class="nextmeeting">
	<h1>Libri usciti</h1>
	<p>
	<%= appdata.meeting.date %>
	<%= appdata.meeting.time %>
	<%= appdata.meeting.where.name %>
	<%= appdata.meeting.where.address %>
	</p>

	<p>
	<% include socialmedia.ejs %>
	</p>


</article>